
/* Stylesheet For Spring Fest Summer Training Task 1

Sl. 	Contents        	   Line No.

0		Global CSS Rules       17
1		navbar rules           82
2       Home page rules		   140	
3		Academics rules		   162
4		Interests rules		   194
5		Contact rules          

Made By:- Archisman Pathak :) */



/* Global CSS Rules */
/*Making Stuff Responsive */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
 float: left;
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
body{
	margin:0;
	padding:0;
	
}
html{
	background:url("fotis-fotopoulos-790373-unsplash.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}
p{
	margin: 0;
}

/* 1.navbar Styles */
.navbar ul{
	
	list-style-type: none;
	 overflow: hidden;
	 width: 100%;
	 margin: 0;
	 padding-left: 0;
	 position: fixed;
	 top:0;
	 background-color: rgb(102, 102, 255);
	 border-radius: 10px;
	 opacity:0.85;
}

.navbar li{
	float:left;
}

.navbar{
	
	
	height: 10% ;
	position: relative;
	font-size: 20px;
	z-index: 10;
}
.navbar a{
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
   padding-top:20px;
   padding-bottom: 26px;
   padding-left: 15px;
   padding-right: 15px; 
   font-family: 'Roboto Slab', serif ;
}
.navbar a:hover{
	text-decoration: underline;
	
	background-color: #1f1f7a;

	border-radius: 5px;
}
.logo{
	background-color:#ffa31a;
	padding: 10px ;
	padding-left: 5px;
	margin-left: 0;

}
.navbar .active{
	background-color: #039;

	border-radius: 5px;
}

/*2. Home Page Styles*/


.container-left p{
	margin: 5%;
}
.container-left{
	
	background-color:  #ccff66 ;
	opacity: 0.75 ;
	z-index: 8;
	border-radius: 20px;	
}
.container-left .main-text{
  	
  	position: relative;
  	color:  #0000ff;
  	opacity: 1;
}
#image{
	width: 100%;
	vertical-align: middle;
	border-radius: 50%;
	}
#img{
	background-color: #00ace6;
	opacity: 0.95 ;
	z-index: 8;
	border-radius: 20px;
	display: table-cell;
}

/*2. Academics */

.container-main{
	background-color:  #ccff66 ;
	opacity: 0.85 ;
	z-index: 8;
	border-radius: 20px; 
	margin-left: 4%;
	margin-right: 4%;
}

.school {
	
	background-image: url("index.png");
	opacity: 0.75;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	height: 225px;
	width: 33.33%;
	background-position: center;
}

.college{
	background-image: url("logo.jpg");
	opacity: 0.75;
	background-size: contain;
	background-repeat: no-repeat;
	height: 225px;
	width: 33.33%;
	background-position: center;
}

/*3. Interests */
.container-interests{
	background-color:  #ccff66 ;
	opacity: 0.85 ;
	z-index: 8;
	border-radius: 20px; 
	margin-left: 4%;
	margin-right: 4%;
}


/*4. Contact */

.container-contact{
	background-color:  #ccff66 ;
	opacity: 0.85 ;
	z-index: 8;
	border-radius: 20px; 
	margin-left: 4%;
	margin-right: 4%;
}

.fa {
  padding: 25px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github{
	background: white;
}
.fa-linkedin{
	background: black;
	color: white;
}

